<!DOCTYPE html><meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<html itemscope itemtype="http://schema.org/Article"  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Interactive Education</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="author" content="mathfact" />
    <meta name="language" content="en-us" />
    <meta name="rating" content="general" />
    <meta name="MSSmartTagsPreventParsing" content="true" />

    <meta name="GoogleBot" content="index,follow" />
    <meta name="robots" content="index,follow" />
    <meta name="title" content="MATHFACT" />

    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" />
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
   <%#= javascript_include_tag "application" %>
    <!--<script type="text/javascript" src="/assets/lib/jquery/tooltip.js"></script> -->
	<%# include_javascript 'tooltip.js.coffee' %>
	<script>
				$(document).ready(function(){
				
					
					//Examples of how to assign the ColorBox event to elements
					$(".ajax").colorbox();
					$(".youtube").colorbox({iframe:true, innerWidth:425, innerHeight:344});
					$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
					$(".inline").colorbox({inline:true, width:"50%"});
					//Example of preserving a JavaScript event for inline calls.
				
					$("#click").click(function(){ 
										$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
										return false;
									});
				});
	</script>
	</head>
    <body>
<a id="top" name="top"></a>
<div id="lightbox" style="display:none;"></div>
<div id="mainpage">

            <div id="page-header">
            	 <h1 title="Interactive Education">
		     <%= link_to "Home", root_path %></h1>
	        <div id="page-header-menu">
	            <!--<a id="page-header-publishers" href="publishers.htm" title="Publishers">Publishers</a>            
	            <a id="page-header-advertisers" href="advertisers.htm" title="Advertisers">Advertisers</a>
	            <a id="page-header-about" href="about.htm" title="About Us">About Us</a>-->
	             <%= link_to "Home", root_path, :id => 'page-header-home' %>
	            <!-- <a id="page-header-home" href="default.htm" title="Home">Home</a> -->
	            <a id="page-header-mathfact" href="/product" title="Interactive Education">Interactive Education</a>
	            <a id="page-header-team" href="/team" title="Team">Team</a>
            <!--<a id="page-header-logout" href="logout.htm" title="Logout">Logout</a> -->
	 <%= link_to('Logout', destroy_user_session_path ,:id => 'page-header-logout',:title => 'Logout', :method => 'delete') %>
         
  </div>
    </div>
    
	
<% @data = User.where(:teacher_id => current_user.name).order(:real_name) %>
<%
@havename = Array.new
@noname = Array.new

  @data.each do |student| 
	if(student.real_name.to_s == "")
		@noname.push(student)
	else
		@havename.push(student)
	end
  end
%>

<%#binding.pry%>
    <div id="page-submenu">
             
    </div>
<div id="page-inner">

		<div class="pg-content-main">
		<h3>	<%= @message %> </h3>

		<h2>Teacher Dashboard</h2><br>
					<h3>Welcome <em><%=current_user.real_name%></em> !</h3><br>

<center>
		          
<h1>Available Tasks</h1>
<p>Click to assign a task</p>
<% @available_tasks.each do |task_details| %>
		<a href=
			<%= "/teacher/assign_task?type=game&game_id=" + task_details.game_id.to_s + "&teacher_id=" + current_user.name.to_s + "&url=" + task_details.url.to_s if task_details.type == "game"%>
			<%= "/teacher/make_assignment?game_id=" + task_details.game_id.to_s + "&teacher_id=" + current_user.name.to_s if task_details.type == "assignment"%>
		><%= task_details.game_name %></a><br />
<% end %>

<br />

<h1>Ongoing Tasks</h1>
<p>Click to finish a task</p>
<% @ongoing_tasks.each do |task_details| %>
		<a href=
			<%= "/teacher/remove_task?type=game&game_id=" + task_details.game_id.to_s + "&teacher_id=" + current_user.name.to_s%>><%= task_details.game_name %></a><br />
<% end %>

<br />

<h1>
<% @latest_progress_details.each do |key,game_details| %>
<h1><%= Game.where(:game_id => key).first.game_name %></h1>
	<br>
	<br>
<table  class="dataTable">
	<thead>
	<tr>
		<td>Name</td>
		<td>Level Name</td>
		<td>Score</td>
		<td>Accuracy</td>
	</tr>
	</thead>
	<tbody>
	<% game_details.each do |detail| %>
		<tr>
			<td><%= detail.split(',')[0] %></td>
			<td><%= detail.split(',')[1] %></td>
			<td><%= detail.split(',')[2] %></td>
			<td><%= detail.split(',')[3] %></td>
		</tr>
	</tbody>
	<% end %>

</table>
<% end %>

<br />
<h1>Pick Student</h1>
<%= form_tag("view_progress", :method => "get") do %>
	<select name="student_id">
	<% @students_list.each do |student_details| %>
	<% if (!student_details.real_name.to_s.empty?) %>
	<option value="<%= student_details.name %>"><%= student_details.real_name %></option>
	<% end %>
	<% end %>
	</select>

	<%= submit_tag("Search") %>

<% end %>
	

	</center>


	</div>
	<div class="pg-content-btm"></div>
	
</div>


<div id="optout">
<p>&copy; All Rights Reserved.</p>
</div>
</body>
</html>