
<%= @message %> 

<ul class="nav">
 <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
 <% end %>
</ul>

<h3>Home211323</h3>

