#page-inner .pg-content-top{margin-top:20px;}#page-inner .pg-content-main{
	min-height:100px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}#page-inner .pg-content-main p.bigtext{margin-top:5px;line-height:1.7em;}#page-inner .banner-homepage{
	height:420px;
	background-image: url(homepage/home.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}#page-inner .banner-homepage .banner-msg{position:absolute;top:36px;width:962px;text-align:center;}#page-inner .banner-homepage h2,#page-inner .banner-homepage h4{display:none;}#page-inner .block-left{
	width:400px;
	float:left;
}#page-inner .block-right{width:400px;float:right;}#page-inner .block-left h3,#page-inner .block-right h3{
	margin:0;
	font-size:24px;
	font-weight:bold;
	color:#96660E;
}#page-inner .block-left h4,#page-inner .block-right h4{margin:0;font-size:18px;font-weight:bold;color:#000;}#page-inner .block-left h5,#page-inner .block-right h5{margin:0;font-size:16px;font-weight:normal;color:#000;}a.learnmore{display:block;background:url(homepage/btn-learnmore.jpg.htm) no-repeat 0 0;width:128px;height:39px;line-height:39px;overflow:hidden;text-indent:-9999px;}a.learnmore:hover{background-position:0 -39px;}.home-news{padding-top:20px;}.news-desc{margin:0 0 35px;}.cs_network_cloud{background:url(homepage/clearspring_network.jpg.htm) no-repeat top center;height:248px;margin:20px 0;}.numbox{background:#ebeff8;padding:20px 40px;margin:20px 0;-webkit-border-radius:4px;-moz-border-radius:4px;}.numbox_item{padding:10px 0;}.numbox_item h4{font-eight:normal!Important;}.numbox .n{width:80px;margin-right:20px;text-align:center;padding-bottom:20px;float:left;}.numbox .n h2{font-size:36px!important;font-weight:normal;margin:0!important;color:#000!important;}.numbox .d{width:180px;padding-top:10px;font-style:italic;float:left;}
